<% layout('layouts/boilerplate') %>

<section id="home" class="mt-md-3 container-fluid px-0">
    <div class="row">
        <div class="col-md-6 px-0">
            <img src="/images/img1.jpg" alt="" class="img-fluid">
        </div>
    
        <div class="col-md-6 bg-dark-pastel-blue text-white text-center d-flex flex-column justify-content-center">
            <h1 class="my-5 my-md-3">Lorem Ipsum</h1>
            <p class="px-4 mb-5"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum.
            </p>
        </div>
    </div>
</section>

<section id="shop" class="bg-pastel-bgblue row">
    <h2 class="text-center pt-5  fw-bold">Latest Offerings</h2>
    <div class="row d-flex flex-wrap px-3 justify-content-between">
        
        <div class="col-lg-4">
            <div class="card w-100 m-3">
                <img src="/images/img3.jpg" class="card-img-top img-fluid h-25" alt="Mango Dragonfruit Refresher">
                <div class="card-body">
                  <h5 class="card-title">Mango Dragonfruit Refresher</h5>
                  <p class="card-text">This tropical-inspired pick-me-up - crafted with a clever combination of vibrant lemonade, sweet mango and red dragonfruit.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="price">&#8377; 378.00</span>
                    <button class="btn btn-success">Add Item</button>
                  </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="card w-100 m-3">
                <img src="/images/img4.jpg" class="card-img-top img-fluid" alt="Mango Dragonfruit Refresher">
                <div class="card-body">
                  <h5 class="card-title">Mango Dragonfruit Refresher</h5>
                  <p class="card-text">This tropical-inspired pick-me-up - crafted with a clever combination of vibrant lemonade, sweet mango and red dragonfruit.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="price">&#8377; 378.00</span>
                    <button class="btn btn-success">Add Item</button>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card w-100 m-3">
                <img src="/images/img1.jpg" class="card-img-top img-fluid" alt="Mango Dragonfruit Refresher">
                <div class="card-body">
                  <h5 class="card-title">Mango Dragonfruit Refresher</h5>
                  <p class="card-text">This tropical-inspired pick-me-up - crafted with a clever combination of vibrant lemonade, sweet mango and red dragonfruit.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="price">&#8377; 378.00</span>
                    <button class="btn btn-success">Add Item</button>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card w-100 m-3">
                <img src="/images/img6.jpg" class="card-img-top img-fluid h-25" alt="Mango Dragonfruit Refresher">
                <div class="card-body">
                  <h5 class="card-title">Mango Dragonfruit Refresher</h5>
                  <p class="card-text">This tropical-inspired pick-me-up - crafted with a clever combination of vibrant lemonade, sweet mango and red dragonfruit.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="price">&#8377; 378.00</span>
                    <button class="btn btn-success">Add Item</button>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card w-100 m-3">
                <img src="/images/img3.jpg" class="card-img-top img-fluid" alt="Mango Dragonfruit Refresher">
                <div class="card-body">
                  <h5 class="card-title">Mango Dragonfruit Refresher</h5>
                  <p class="card-text">This tropical-inspired pick-me-up - crafted with a clever combination of vibrant lemonade, sweet mango and red dragonfruit.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="price">&#8377; 378.00</span>
                    <button class="btn btn-success">Add Item</button>
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card w-100 m-3">
                <img src="/images/img5.jpg" class="card-img-top img-fluid" alt="Mango Dragonfruit Refresher">
                <div class="card-body">
                  <h5 class="card-title">Mango Dragonfruit Refresher</h5>
                  <p class="card-text">This tropical-inspired pick-me-up - crafted with a clever combination of vibrant lemonade, sweet mango and red dragonfruit.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <span class="price">&#8377; 378.00</span>
                    <button class="btn btn-success">Add Item</button>
                  </div>
                </div>
            </div>
        </div>
          
    </div>
    
</section>


<section id="about" class="mt-0 container-fluid px-0">
    <div class="row">
        <div class="col-md-6 bg-light-pastel-blue text-white text-center d-flex flex-column justify-content-center  order-2 order-md-1">
            <h1 class="my-5 my-md-3">About</h1>
            <p class="px-4 mb-5"> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                mollit anim id est laborum.
            </p>
        </div>
        <div class="col-md-6 px-0 order-1 order-md-2">
            <img src="/images/img2.jpg" alt="" class="img-fluid">
        </div>
    </div>
</section>


<section id="contact" class="mt-0 container-fluid px-0">
    <div class="row">
        <div class="col-md-6 bg-creme text-center text-beige-bg fw-bold d-flex flex-column justify-content-center">
            <h1 class="my-5 my-md-3">Contact Us</h1>
        </div>
        <div class="col-md-6 px-0 bg-dark-blue text-white justify-content-center p-5">
            <p class="text-center mt-3"><ion-icon name="call-outline"></ion-icon> : +91 1000-1000-1000</p>
            <p class="text-center mt-3"><ion-icon name="mail-outline"></ion-icon> : someone@something.com</p>
            <p class="text-center mt-3"><ion-icon name="home-outline"></ion-icon> : some street, someplace, some city - 000000</p>
        </div>
    </div>
</section>

