<footer class="footer bg-light py-3 mt-3 border-top border-1 shadow-sm row mt-auto" data-bs-theme="light">
    <div class="container">
        <span class="text-dark-pastel-blue px-5">&copy; BVRGE 2024</span>
    </div>
</footer>