<nav class="navbar navbar-expand-lg bg-body-tertiary border-bottom border-2 shadow-sm p-3 fixed-top row">
    <div class="container-fluid">
      <a class="navbar-brand fs-1 text-dark-pastel-blue" href="/home">BVRGE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto fw-bold">
          <li class="nav-item">
            <a class="nav-link nav-Item" href="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-Item" onclick="scrollToSection('shop')">SHOP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-Item" href="/cart">CART</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-Item" onclick="scrollToSection('about')">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-Item" onclick="scrollToSection('contact')">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-Item" href="/admin/login">ADMIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>