.bg-dark-pastel-blue {
    background-color: #3D8B57
    ;
}
  
.text-dark-pastel-blue {
    color: #3D8B57;
}

.text-dark-pastel-blue:hover {
    color: #3D8B57;
}

.nav-Item {
    color: black;
}

.nav-Item:hover {
    color: #d21713;
    cursor: pointer;
}

.bg-light-pastel-blue {
    background-color: #9ecfba;
}

.text-light-pastel-blue {
    color: #B0C4DE;
}

.bg-pastel-bgblue {
    background-color: rgb(232, 236, 237);
}

.bg-creme {
    background-color: #f5e7d3 ;
}

.bg-dark-blue {
    background-color: #3d9a67;
}

.text-beige-bg {
    color: #4d2f1d;
}

#loginH1 {
    top: 20vh;
}

input[type="number"]#mobileNo::-webkit-inner-spin-button,
input[type="number"]#mobileNo::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}