<% layout('layouts/utility') %>

<div class="row bg-pastel-bgblue">
    <div class="col-8 offset-2 col-md-6 offset-md-3 vh-100 d-flex flex-column justify-content-center">
        <a href="/admin/orderList" class="btn btn-primary my-3"><span class="display-6">Order List</span></a>
        <a href="/admin/pastOrders" class="btn btn-primary my-3"><span class="display-6">Past Orders</span></a>
        <a href="/admin/products" class="btn btn-primary my-3"><span class="display-6">Listed Products</span></a>
    </div>
</div>